.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .grid-item {
    position: relative;
    background-color: 'red' !important;
    padding-bottom: 0;
  }
  
  .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .grid-item p {
    text-align: center;
  }
  .grid-item img{
    text-align: center;
  }
  
  
  @media (max-width: 768px) {
    /* Adjust the grid for smaller screens */
    .grid-container {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 5px;
      padding: 5px;
    }
  }
  
  .squaregrid {
    max-width: 600px;
    border: '1px solid';
    display: grid;
    grid-template: repeat(5, 8vw) / repeat(5, 8vw);
    grid-gap: 10px;
}
.cell {
    padding: 10px;
    background: #ddd;
    font-size: 0.8em;
}
.content-text {
    margin-top: -5px;
}
@media (max-width: 768px) {
    /* Adjust the grid for smaller screens */
    .squaregrid {
        background-color: #fff;
        max-width: 600px;
        margin: 20px;
        display: grid;
        grid-template: repeat(5, 15vw) / repeat(5, 15vw);
        grid-gap: 5px;
    }
    .cell {
        font-size: 0.4em;
    }
  }

  .grid-container-square {

    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-gap: 10px; /* Adjust the gap between columns as needed */
 
}

.scale-on-hover {
    transition: transform 0.3s ease;
  }
  
  .scale-on-hover:hover {
    transform: scale(1.1);
  }